#products {
  width: 100%;
  overflow-x: hidden;
}
.card-deck {
  padding: 42px;
}
.card {
  transition: box-shadow 350ms ease-in;
  min-width: 25%;
  margin-bottom: 10px !important;
}
.card a {
  width: 100%;
}
.card:hover {
  box-shadow: 0px 0px 10px 1px rgb(173, 173, 173);
}
.card-link {
  color: #1b1b1b;
}
.card-link:hover {
  text-decoration: none;
  color: #1b1b1b;
}
.section-heading {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 80px;
  color: rgb(218, 11, 99);
}
.book {
  display: inline-block;
  width: 100%;
  height: 40px;
  color: white;
  letter-spacing: 1px;
  background-color: rgb(251, 124, 30);
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 990px) {
  .coloumn {
    margin-bottom: 20px;
  }
  #footer-coloumn2 {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .card-deck {
    padding: 10px;
  }
  .section-heading {
    font-size: 25px;
  }
}
@media (max-width: 568px) {
  .card-deck {
    padding: 20px;
  }
  nav {
    padding: 0 20px !important;
  }
}
